@use "../../global" as *;

.c-search {
  width: 100%;
  position: relative;
  &__input {
    border: 1px solid $grey_color;
    border-radius: 10px;
    font-size: 16px;
    padding: 0 10px;
    width: 216px;
    height: 46px;
    background-color: #fff;
  }
  input[type=submit]{
    font-family: FontAwesome;
    }
  &__button {
    margin-left: 16px;
    padding: 6px;
    border: 1px solid $grey_color;
    border-radius: 10px;
    width: 90px;
    height: 46px;
    font-size: 16px;
    color: $grey_color;
    background: linear-gradient(90deg, #F2EDE9 0%, #DED8D3 100%);
  }
  &-glass {
    position: absolute;
    color: #808080;
    top: 0;
    left: 0;
  }
}
