@use "../../global" as*;

.p-header {
  &__button {
    @include font-roboto-bold;
    position: absolute;
    top: 0.8rem;
    right: 0.8rem;
    font-size: 20px;
  }
  &__title {
    @include font-roboto-bold;
    display: block;
    font-size: 40px;
    text-align: center;
    margin-top: 40px;
  }
  &-wrapflex {
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  &__form {
    margin-top: 40px;
    // margin-bottom: auto;
    display: flex;
    justify-content: center;
  }


  @include breakpoint(tablet) {
    &__button {
      @include font-roboto-bold;
      margin-top: 2rem;
      margin-right: 2.5rem;
      font-size: 34px;
    }
  }
}
