@use "../../global" as*;


.p-main_hero {
  position: relative;
  background: url("./assets/hero_mobile.jpg") center center no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 285px;
  height: auto;

  &__text {
    @include font-mplus1-bold;
    font-size: 36px;
    color: #fff;
    margin-left: 25px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  @include breakpoint(tablet) {
    background: url("./assets/hero_tablet.jpg") center center no-repeat;
    background-size: cover;
    min-height: 285px;
    width: 100%;

    &__text {
      margin-left: 85px;
    }
  }

  @include breakpoint(pc) {
    background: url("./assets/hero_pc.jpg") center center no-repeat;
    background-size: cover;
    min-height: 530px;
    width: 100%;
  }
}
